<ion-view title="Settings" >
<ion-header-bar class="bar-balanced">
  <div class="buttons">
    <button class="button icon ion-arrow-left-c" style="color: black" ng-click="goBackToMap()"></button>
  </div>
  <h1 class="title" style="color: black"></span>SETTINGS</h1>
</ion-header-bar>
  <ion-content>
  	<ion-list>
		<ion-item class="item-divider">
	        <b>Zoom Sensitivity</b>
	    </ion-item>

	    <ion-item class="range">
	  		<i class="icon ion-ios-minus-outline"></i>
	  		<input type="range" 
	  		name="zoomSensitivity" 
	  		min="zoomSensitivity.min"  
	  		max="zoomSensitivity.max" 
	  		ng-model="zoomSensitivity.value" 
	  		on-release="onZoomSensitivityChange()"
	  		ng-click="onZoomSensitivityChange()">
	  		<i class="icon ion-android-add-circle"></i>
		</ion-item>

		<ion-item class="item-divider">
	        <b>Move Sensitivity</b>
	    </ion-item>

	    <ion-item class="range">
	  		<i class="icon ion-ios-minus-outline"></i>
	  		<input type="range" 
	  		name="moveSensitivity" 
	  		min="moveSensitivity.min"  
	  		max="moveSensitivity.max" 
	  		ng-model="moveSensitivity.value" 
	  		on-release="onMoveSensitivityChange()"
	  		ng-click="onMoveSensitivityChange()">
	  		<i class="icon ion-android-add-circle"></i>
		</ion-item>

		<ion-item class="item-divider">
	        <b>Map Tile Provider</b>
	    </ion-item>

		<div class="list">
	        <ion-radio ng-repeat="tile in mapTiles" 
	        	ng-value="tile.identifier" 
             	ng-model="presetTile.identifier" 
             	ng-change="onMaptileSelected(tile)"> 
             	{{ tile.name }}
            </ion-radio>
        </div>
	</ion-list>
  </ion-content>
</ion-view>